:root {
  --black-primary: #000000;

  --white-primary: #ffffff;
  --white-secondary: #f3f3f3;

  --grey-primary: #cccccc;
}

.grey-text {
  font-weight: bold;
  color: var(--grey-primary);
}

.service-notice {
  font-size: 48px;
  font-weight: bold;
  color: var(--black-primary);
}
